<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
    <div id="navmenu">
    	<!-- <div id="logo">
    		<%= link_to root_path do %>
    		   <%= image_tag "judy.jpg"%>
    		<% end %>
    	</div> -->

    	<ul>
   	       <li class="category">Website</li>
   	       <li> <%=link_to "Blog", root_path %></li>
   	       <li> About</li>
           <li> Contact</li>
           <li> Admin Login</li>

        </ul>
    </div>

    <div id="main_content">
    	<div id="header">
    		<h2 class="title">All posts</h2>



    	<% flash.each do |name, msg| %>
    	    <%= content_tag(:div, msg, class:"alert") %>

    	<% end %>
        <%= yield %>

    </div>
            <br><br><br><br><hr>
    <div class="buttons">
          <!-- <button class="button"> <%= link_to "New Post", new_post_path %> </button> -->
          <%= link_to "New Post", new_post_path %>
          <button class="button">Log Out</button>
        </div>
      </div>

    <!-- <div>
      <p class="sign_in">Admin Login</p>
    </div> -->
</body>
</html>
